PyYAML==6.0.3
jieba==0.42.1
langchain_community==0.4.1
langchain_core==1.0.7
pydantic==2.12.4
pydantic_settings==2.12.0
pymilvus==2.6.3
pymilvus_model==0.3.2
pytest==9.0.1
torch==2.9.1
transformers==4.57.1
watchdog==6.0.0
