PyYAML==6.0.3
Requests==2.32.5
auto_mix_prep==0.2.0
fastapi==0.121.3
fitz==0.0.1.dev2
jieba==0.42.1
langchain_community==0.4.1
langchain_core==1.1.0
more_itertools==10.8.0
openai==2.8.1
pandas==2.3.3
pydantic==2.12.4
pydantic_settings==2.12.0
pymilvus==2.6.3
pymilvus_model==0.3.2
pymongo==4.15.4
pymupdf==1.26.6
pytest==9.0.1
scikit_learn==1.7.2
sentence_transformers==5.1.2
torch==2.9.0
tqdm==4.67.1
transformers==4.57.1
uvicorn==0.38.0
watchdog==6.0.0
